<div class="container-fluid">
<div class="row my-4">

    <div class="col-2 d-flex flex-column align-items-center mx-5">
        
        <button class=" rounded rounded-3 bg-success bg-opacity-75" routerLink="/home">back to home</button>
    </div>
</div>
<div class="row my-3">
    
    <div class="col-lg-2 d-flex flex-column align-items-center  mx-5">
        <button class="col-7 d-flex justify-content-center rounded rounded-3 bg-primary my-2" [routerLink]="['/name', {outlets:{tabs:['firstComp']}}]" >Account</button>
        <button class="col-7 d-flex justify-content-center rounded rounded-3 bg-primary my-2" [routerLink]="['/name', {outlets:{tabs:['secondComp']}}]">Category</button>
        <button class="col-7 d-flex justify-content-center rounded rounded-3 bg-primary my-2" [routerLink]="['/name', {outlets:{tabs:['thirdComp']}}]">HS code</button>

    </div>
    <div class="col-6 border border-2 border-dark rounded rounded-5">
        <router-outlet name="tabs"></router-outlet>
        
    </div>
</div>

</div>
<!-- <a [routerLink]="['', { outlets: { modal: ['accounts', account.id, 'edit'] } }]">Edit</a> -->