<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>opportunities</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row my-4">
            <div class="col-2">
                <img class="col-8" src="assets/logo.png"/>
            </div>
            <div class="col-5 mx-2">
               <div class="row">
                    this is header
               </div>
               <div class="row">
                   <!-- {{sub_header}} this is sub header -->
               </div>
            </div>
            <div class="col-2 d-flex justify-content-end">
                {{description?.state}} 
            </div>
        </div>
        <div class="row">
            <div class="row">
                {{description?.description}} 
            </div>
            <div class="row">
                <!-- {{sub_desc}} this is sub description -->
            </div>
        </div>
    </div>
</body>
</html>